# Compiled class files
*.class

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.asc
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
gradle-app.setting
.gradletasknamecache

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/
*.launch

# IntelliJ
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# OS
Thumbs.db
.DS_Store